 <style>
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
  }
  </style>

<hr>
<div id="slider" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
 <!--  <ol class="carousel-indicators">
    <li data-target="#slider" data-slide-to="0" class="active"></li>
    <li data-target="#slider" data-slide-to="1"></li>
    <li data-target="#slider" data-slide-to="2"></li>
  </ol> -->

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
     <%= image_tag("slider2.jpg") %>
      <div class="carousel-caption">
        <!-- <div class="page-header">
          <h3> Idea to Product </h3>
        </div>  -->
      </div>
    </div>
    <div class="item"  >
      <%= image_tag("slider2.jpg") %>
      <div class="carousel-caption">
       <!--  <div class="page-header">
         <h3>Product Development </h3>
        </div> -->
      </div>
    </div>
    <div class="item">
      <%= image_tag("slider3.jpg") %>
      <div class="carousel-caption">
        <!-- <div class="page-header">
          <h3> Technology Consulting </h3>
        </div> -->
      </div>
    </div>
    <div class="item">
      <%= image_tag("slider4.jpg") %>
      <div class="carousel-caption">
       <!--  <div class="page-header">
          <h3>Customer Satisfaction </h3>
        </div> -->
      </div>
    </div>
    <div class="item">
      <%= image_tag("slider5.jpg") %>
      <div class="carousel-caption">
        <!--  <div class="page-header">
            <h3> </h3>
        </div> -->
      </div>
    </div>
  </div>

  <!-- Controls -->
 
  </a>
</div>